body {
  text-align: center;
  background-color: #EAEAEA;
  margin: 0;
  font-family: 'Merriweather', sans-serif;
}

h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top {
  padding-top: 100px;
  background-color: #08D9D6;
  position: relative;
}

.middle {
  position: relative;
}

.bottom {
  position: relative;
}

.t-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.b-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile {
  width: 70%;
  margin: 0 auto;
}

.skills {
  width: 70%;
  margin: 0 auto;
}

.pic {
  border-radius: 100%;
}

.code {
  height: 300px;
  width: 300px;
}

.cert {
  height: 300px;
  width: 300px;
}
